:root {
    --base-value: clamp(16px, 1.5vw, 18px);
    --content-max-width: 90rem;

    --color-primary: #E82356;
    --color-scondary: #ddccbb;
    --color-tertiary: #ccaa66;
    --color-white: #ffffff;
    --color-gray-100: #e7e7e7;
    --color-gray-200: #999;
    --color-gray-300: #515253;
    --color-gray-400: #28292a;
    --color-black: #080b0c;
    --color-black-trans: rgb(from var(--color-black) r g b / 0.5);

    --font-sans: "Public Sans", system-ui, Arial, sans-serif;
    --font-serif: "EB Garamond", Garamond, serif;
    --font-size-10: 0.625rem;
    --font-size-12: 0.75rem;
    --font-size-16: 1rem;
    --font-size-24: 1.5rem;
    --font-size-32: clamp(1.5rem, 3vw, 1.875rem);
    --font-size-72: 4.5rem;
    --font-size-clamp-title: clamp(3.5rem, 5vw, 4.5rem);

    --line-height-base: 1;
    --line-height-single: var(--line-height-base);
    --line-height-150: calc(var(--line-height-base) * 1.5);
    --line-height-double: calc(var(--line-height-base) * 2);
    --letter-spacing-tighter: -0.1rem;
    --letter-spacing-tight: -0.01rem;
    --letter-spacing-normal: 0;
    --letter-spacing-loose: 0.075rem;
    --letter-spacing-looser: 0.15rem;
}
/* 
 * 
 * Phosphor icons. 
 *
 */
.ph-light {
    font-size: 2rem;
    width: min-content;
}
.ph-bold {
    font-size: 1rem;
    width: min-content;
}
/* 
 * 
 * Typography and other basics.
 *
 */
 ::selection {
    background-color: var(--color-primary);
    color: var(--color-black);
 }
html {
    background-color: var(--color-gray-100);
    color: var(--color-black);
}
p {
    font-family: var(--font-serif);
    font-size: var(--font-size-16);
    line-height: var(--line-height-150);
    font-style: normal;
    font-weight: 400;
}
p a {
    color: var(--color-black);
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 1px !important;
    text-decoration-color: var(--color-primary);
    transition: all 0.3s ease;
}
p a:hover, p a:active {
    color: var(--color-primary);
    text-decoration-color: transparent;
}
p.lore {
    font-family: var(--font-sans);
    font-style: italic;
    letter-spacing: var(--letter-spacing-tight);
}
p + p {
    padding-top: var(--spacing-100);
}
h2 {
    font-family: var(--font-serif);
    font-size: var(--font-size-clamp-title);
    line-height: var(--line-height-single);
    font-style: italic;
    letter-spacing: var(--letter-spacing-tighter);
    font-weight: 400;
}
/* 
 *
 * Homepage styles, including the "Chapter" cards (which are used elsewhere).
 *
 */
.logo {
    max-height: 3rem;
    margin-bottom: var(--spacing-400);
}
.navigation {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}
.ch-plate { /* Base styling for the chapter plates. */
    display: flex;
    max-width: 22rem;
    height: 30rem;
    padding: var(--spacing-100);
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    text-decoration: none;
}
.ch-plate {
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
}
.ch-outline { /* Base styling for the chapter plates. */
    display: flex;
    padding: var(--spacing-100);
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
    transition: all 0.3s;
    border: 1px solid var(--color-primary);
}
.ch-outline > .description {
    font-family: var(--font-sans);
    font-size: var(--font-size-12);
    text-transform: uppercase;
    width: 15ch;
}
.ch-title {
    display: flex;
    padding-bottom: var(--spacing-300);
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-200);
    align-self: stretch;
}
.ch-title > .eyebrow {
    font-size: var(--font-size-24);
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing-looser);
    line-height: var(--line-height-single);
}
.ch-title > hr {
    border: none;
    border-top: 1px solid var(--color-primary);
    width: 3rem;
}
.ch-plate:hover, .ch-plate:active {
    color: var(--color-black);
    background-color: var(--color-white);
    border: 1px solid transparent;
    box-shadow: rgb(from var(--color-black) r g b / 0.2) 0 0 1rem 1rem;
}
.ch-plate:hover .ch-outline, .ch-plate:active .ch-outline {
    border: 1px solid var(--color-gray-100);
}
.ch-plate:hover hr, .ch-plate:active hr {
    border-top: 1px solid var(--color-gray-400);
}
.ch-plate.active, .ch-plate.active .ch-outline {
    color: var(--color-primary);
    border: unset;
    background-color: transparent;
    box-shadow: unset;
    height: 100%;
    padding-top: 0;
    padding-bottom: var(--spacing-200);
}
.ch-plate.active hr {
    border-color: var(--color-primary);
}

@media ( min-width: 64rem ) { /* Laptop 1024 */
    #one {
        grid-column-start: 5;
    }
}
/* 
 *
 * On each Chapter page, two sets of containers hold title and "prose" content (itself broken into "sidebar," "prose" and "gallery" segments).
 *
 */
.chapter {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    min-height: 100vh;
    width: var(--full-width);
}
#ch-i {
    background: linear-gradient(rgb(from var(--color-black) r g b / 0.66)), center bottom / cover url(../assets/ch-i-splash.jpg), var(--color-primary);
}
.left, .right {
    height: 650px;
    width: 100%;
    padding: var(--spacing-400) 0;
    align-content: flex-start !important;
}
.button-return {
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    text-decoration: none;
    display: inline-flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: calc(var(--base-value) * 1.5);
    width: calc(var(--base-value) * 3 );
    height: calc(var(--base-value) * 3 );
    transition: all 0.3s;
}
.button-return > .ph-light {
    font-size: inherit;
}
.button-return:hover, .button-return:active {
    color: var(--color-black);
    background-color: var(--color-primary);
    border: 1px solid transparent;
}
@media ( min-width: 64rem ) { /* Laptop 1024 */
    .chapter {
        flex-direction: row;
    }
    .left, .right {
        flex: 1;
        width: 50vw;
        height: 100vh;
    }
    .right {
        overflow-y: auto;
    }
}
.sidebar {
    font-family: var(--font-sans);
    font-size: var(--font-size-12);
    padding-bottom: var(--spacing-200);
}
.sidebar p {
    font-family: inherit;
    font-size: inherit;
    flex: initial;
}
.sidebar > .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-50);
    padding: var(--spacing-50) 0;
    border-bottom: 1px solid var(--color-gray-200);
}
.prose {
    grid-column-start: 1;
}
.gallery {
    grid-column-start: 1;
    padding: var(--spacing-200) 0;
    border-top: 1px solid var(--color-gray-200);
}
@media ( min-width: 48rem ) { /* Tablet 768 */
    .sidebar {
        grid-row-start: 1;
        grid-column-start: 9;
    }
    .prose {
        grid-row-start: 1;
    }
}
@media ( min-width: 64rem ) { /* Laptop 1024 */
    .sidebar {
        grid-row-start: unset;
        grid-column-start: unset;
    }
    .prose {
        grid-row-start: unset;
        grid-column-start: unset;
    }
}
/* 
 *
 * Footer.
 *
 */
footer {
    background: var(--color-black);
    color: var(--color-white);
}
footer p {
    font-family: var(--font-sans);
    font-size: var(--font-size-12);
}
footer a {
    color: var(--color-white);
}
/* 
 * 
 * Utilities.
 *
 */
.background {
    background-color: var(--color-gray-100);
}
.wallpaper { /* Theme-specific utility class "wallpaper" will contain any image or video to the container it's inside. */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    object-fit: cover;
}
.overlay { /* Theme-specific utility class "overlay" adds a semi-transparent black background to anything this is applied to. */
    background: var(--color-black-trans);
}
